.upload
  align-items center
  margin 20px
  padding 24px
  border 1px dashed #dcdfe6
  border-radius 6px
  text-align center
  cursor pointer

  &:hover
    border-color #409eff

  &.darging
    border 2px dashed #409eff
    background-color #ecf5ff

  img
    width 80px

  .tip
    margin-top 10px
    font-size 14px

    em
      margin-left 4px
      color #409eff
