.upload(ref='upload' :class='{ darging }' @click='onUploadClick' @dragenter='onDragEnter' @dragover='onDragOver' @dragleave='onDragLeave' @drop='onDrop')
  img(src='@/assets/upload.svg')
  .tip 
    span Drop file here or
    em click to upload
